# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and static files
media/
staticfiles/

# Django migrations
**/migrations/*

# Security / Sensitive Files
.env
.secret

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS and Linux files
.DS_Store
*.swp
*.swo
*~

# Testing
.coverage
.tox/
.pytest_cache/

# Docker
docker-compose.yml
*.dockerfile

# Pipenv
Pipfile
Pipfile.lock

# MyPy
.mypy_cache/

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Coverage reports
htmlcov/
*.cover

# Celery
celerybeat-schedule
celerybeat.pid

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Tailwind CSS
public/


bankapp/apps.py 